@page
@model SmokeZeroDigitalProject.Pages.Admin.Plan.CreateModel
@{
	Layout = null;
	ViewData["Title"] = "Danh sách gói phí";
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from doccure.dreamstechnologies.com/html/template/admin/patient-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 14 Jun 2025 15:00:52 GMT -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="keywords" content="practo clone, doccure, doctor appointment, Practo clone html template, doctor booking template">
	<meta name="author" content="Practo Clone HTML Template - Doctor Booking Template">
	<meta property="og:url" content="https://doccure.dreamstechnologies.com/html/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Doctors Appointment HTML Website Templates | Doccure">
	<meta property="og:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta property="og:image" content="assets/img/preview-banner.html">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="https://doccure.dreamstechnologies.com/html/">
	<meta property="twitter:url" content="https://doccure.dreamstechnologies.com/html/">
	<meta name="twitter:title" content="Doctors Appointment HTML Website Templates | Doccure">
	<meta name="twitter:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="twitter:image" content="assets/img/preview-banner.html">
	<title>Doccure - Patient List Page</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="~/admin-assets/admin-assets/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/admin-assets/admin-assets/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/admin-assets/admin-assets/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/admin-assets/admin-assets/assets/plugins/fontawesome/css/all.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="~/admin-assets/admin-assets/assets/css/feathericon.min.css">

	<!-- Datatables CSS -->
	<link rel="stylesheet" href="~/admin-assets/admin-assets/assets/plugins/datatables/datatables.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/admin-assets/admin-assets/assets/css/custom.css">

</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<div class="header">

			<!-- Logo -->
			<div class="header-left">
				<a href="index.html" class="logo">
					<img src="~/admin-assets/admin-assets/assets/img/logo.png" alt="Logo">
				</a>
				<a href="index.html" class="logo logo-small">
					<img src="~/admin-assets/admin-assets/assets/img/logo-small.png" alt="Logo" width="30" height="30">
				</a>
			</div>
			<!-- /Logo -->

			<a href="javascript:void(0);" id="toggle_btn">
				<i class="fe fe-text-align-left"></i>
			</a>
			<!-- Mobile Menu Toggle -->
			<a class="mobile_btn" id="mobile_btn">
				<i class="fa fa-bars"></i>
			</a>
			<!-- /Mobile Menu Toggle -->
			<!-- Header Right Menu -->
			<ul class="nav user-menu">
				<!-- User Menu -->
				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
						<span class="user-img"><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor"></span>
					</a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="avatar avatar-sm">
								<img src="assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
							</div>
							<div class="user-text">
								<h6>Ryan Taylor</h6>
								<p class="text-muted mb-0">Administrator</p>
							</div>
						</div>
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</li>
				<!-- /User Menu -->

			</ul>
			<!-- /Header Right Menu -->

		</div>
		<!-- /Header -->
		<!-- Sidebar -->
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="menu-title">
							<span>Main</span>
						</li>
						<li>
							<a asp-page="/Admin/Dashboard/Index"><i class="fe fe-home"></i> <span>Dashboard</span></a>
						</li>
						<li>
							<a asp-page="/Admin/User/Index"><i class="fe fe-user"></i> <span>User</span></a>
						</li>
						<li>
							<a asp-page="/Admin/Coach/Index"><i class="fe fe-users"></i> <span>Coach</span></a>
						</li>
						<li class="active">
							<a asp-page="/Admin/Plan/Index"><i class="fe fe-credit-card"></i> <span>Plan</span></a>
						</li>
						<li>
							<a asp-page="/Admin/Feedback/Index"><i class="fe fe-message-square"></i> <span>Feedback</span></a>
						</li>
						<li>
							<a asp-page="/Admin/Blog/Index"><i class="fe fe-message-square"></i> <span>Blog</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Sidebar -->
		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content container-fluid">

				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="page-title">Tạo Gói Đăng Ký</h3>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<form method="post">
									<div class="mb-3 row">
										<label class="col-form-label col-md-2">Tên gói</label>
										<div class="col-md-10">
											<input asp-for="CreatePlanRequest.Name" class="form-control" required />
										</div>
									</div>
									<div class="mb-3 row">
										<label class="col-form-label col-md-2">Mô tả</label>
										<div class="col-md-10">
											<input asp-for="CreatePlanRequest.Description" class="form-control" />
										</div>
									</div>
									<div class="mb-3 row">
										<label class="col-form-label col-md-2">Giá</label>
										<div class="col-md-10">
											<input asp-for="CreatePlanRequest.Price" type="number" step="0.01" class="form-control" required />
										</div>
									</div>
									<div class="mb-3 row">
										<label class="col-form-label col-md-2">Thời hạn (ngày)</label>
										<div class="col-md-10">
											<input asp-for="CreatePlanRequest.DurationInDays" type="number" class="form-control" required />
										</div>
									</div>
									<div class="text-end">
										<button type="submit" class="btn btn-primary">Lưu gói</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="~/admin-assets/admin-assets/assets/js/jquery-3.7.1.min.js" type="f6af414c859b09da0cd1b694-text/javascript"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/admin-assets/admin-assets/assets/js/bootstrap.bundle.min.js" type="f6af414c859b09da0cd1b694-text/javascript"></script>

	<!-- Slimscroll JS -->
	<script src="~/admin-assets/admin-assets/assets/plugins/slimscroll/jquery.slimscroll.min.js" type="f6af414c859b09da0cd1b694-text/javascript"></script>

	<!-- Datatables JS -->
	<script src="~/admin-assets/admin-assets/assets/plugins/datatables/jquery.dataTables.min.js" type="f6af414c859b09da0cd1b694-text/javascript"></script>
	<script src="~/admin-assets/admin-assets/assets/plugins/datatables/datatables.min.js" type="f6af414c859b09da0cd1b694-text/javascript"></script>

	<!-- Custom JS -->
	<script src="~/admin-assets/admin-assets/assets/js/script.js" type="f6af414c859b09da0cd1b694-text/javascript"></script>

	<script src="../../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="f6af414c859b09da0cd1b694-|49" defer></script>
	<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"94fab1b85b7f9626","version":"2025.6.2","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"3ca157e612a14eccbb30cf6db6691c29","b":1}' crossorigin="anonymous"></script>
</body>


<!-- Mirrored from doccure.dreamstechnologies.com/html/template/admin/patient-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 14 Jun 2025 15:00:53 GMT -->
</html>
@section Scripts {
	<script>
		$(function () {
		@if (TempData["ToastMessage"] is string toast)
		{
			var parts = toast.Split(':', 2);
			<text>toastr['@parts[0]']('@parts[1]');</text>
		}
				});
	</script>
}